<!DOCTYPE html>
<html lang="en">
    <head>
    {% block header %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- different media queries will be able to have the correct effect. Without this, viewing the page in the
            specific device would basically just display a zoomed-out version of your page   -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="The Website &amp; of Sisco Puig">
        <!-- css files -->
        <link href="{{ base_url() }}/css/all.css" rel="stylesheet" type="text/css">
        <!-- fonts -->
        <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
        <!-- favicons -->
        <link rel="shortcut icon" type="image/x-icon" href="{{ base_url() }}/images/favicons/favicon.ico">
        <link rel="icon" href="{{ base_url() }}/images/favicons/favicon.ico" type="image/icon">
        <link rel="apple-touch-icon" sizes="57x57" href="{{ base_url() }}/images/favicons/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ base_url() }}/images/favicons/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ base_url() }}/images/favicons/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ base_url() }}/images/favicons/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ base_url() }}/images/favicons/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ base_url() }}/images/favicons/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ base_url() }}/images/favicons/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ base_url() }}/images/favicons/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ base_url() }}/images/favicons/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192" href="{{ base_url() }}/images/favicons/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="512x512" href="{{ base_url() }}/images/favicons/android-icon-512x512.png">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ base_url() }}/images/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ base_url() }}/images/favicons/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ base_url() }}/images/favicons/favicon-16x16.png">
        <link rel="manifest" href="{{ base_url() }}/images/favicons/manifest.json">
        <link rel="mask-icon" href="{{ base_url() }}/images/favicons/safari-pinned-tab.svg" color="#171717">
        <meta name="msapplication-TileColor" content="#171717">
        <meta name="msapplication-TileImage" content="{{ base_url() }}/images/favicons/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        
        <!-- title -->
        <title>Sisco Puig - Web Developer</title>

    </head>
    <!-- MAIN NAVIGATION -->
    <body>

    <!-- Header nav-->
    <header id="header" class="header">
        <a href="{{ base_url() }}/" class="header-logo" data-go="home" title="Home"></a>
        <nav class="d-none d-md-block">
            <ul class="header-nav">
                <li><a class="active view-home" data-go="home" href="{{ base_url() }}/">Profile</a></li>
                <li><a class="view-work" data-go="work" data-scroll href="{{ base_url() }}/#aboutme">About me</a></li>
                <li><a class="view-blog" data-go="blog" href="https://github.com/siscopuig">Github</a></li>
                <li><a class="view-contact" data-go="contact" href="{{ base_url() }}/contact">Contact</a></li>
            </ul>
        </nav>
        <button class="d-md-none mobile-menu-button" aria-label="Menu"><span></span></button>
    </header>
    <!-- End Header nav-->
    <!-- mobile menu -->
    <div class="mobile-menu in" style="display: none;" id="nav-overlay">
        <div class="mobile-menu-header">
            <a href="{{ base_url() }}/" class="header-logo" data-go="home" title="Home">Home</a>
            <button class="mobile-menu-close" aria-label="Close Menu"><span></span></button>
        </div>
        <nav>
            <ul class="mobile-menu-navigation">
                <li><a class="active view-home" data-go="home" href="{{ base_url() }}/">Profile</a></li>
                <li><a class="view-aboutme" data-go="aboutme" href="{{ base_url() }}/#aboutme">About me</a></li>
                <li><a class="view-github" data-go="github" href="https://github.com/siscopuig">Github</a></li>
                <li><a class="view-contact" data-go="contact" href="{{ base_url() }}/contact">Contact</a></li>
            </ul>
    </nav>
    </div>
    <!-- End mobile menu -->
    <!-- headroom -->
    <div id="headroom" class="d-none d-md-block headroom headroom--not-bottom headroom--not-top headroom--pinned">
    </div>
    <!-- End headroom -->
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block footer %}
    <footer class="break-out footer-bg footer wht py-3">
        <div class="container-fluid">
            <div class="row align-items-center justify-content-between">
                <div class="col-12 col-align-vertically mb-3 mb-md-3 mb-lg-0">
                    <div class="footer-mark-logo">
                    </div>
                    <div class="footer-mark">
                        <span class="title">Handcrafted by Sisco Puig</span>
                        <span class="subline">©Copyright 2014-2019 by Sisco Puig, all rights reserved.</span>
                    </div>
                </div>
                <div class="col-12 col-lg-3">
                    <h4 class="d-lg-none collapsed" data-expand="#sitemap">Sitemap</h4>
                    <nav id="sitemap" class="d-lg-block collapse pb-0">
                        <ul class="footer-sitemap">
                            <li><a data-go="home" href="{{ base_url() }}/" target="_blank" rel="noopener" title="">Profile</a></li>
                            <li><a data-go="aboutme" href="{{ base_url() }}/#aboutme" target="_blank" rel="noopener" title="">About me</a></li>
                            <li><a data-go="contact" href="{{ base_url() }}/contact" target="_blank" title="" rel="noopener">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-12 col-lg-3 footer-bottom">
                    <h4 class="d-lg-none collapsed " data-expand="#social">Social</h4>
                    <nav>
                        <ul id="social" class="d-lg-block collapse pb-0">
                            <li><a href="https://github.com/siscopuig" target="_blank" title="github" rel="noopener">Github</a></li>
                            <li><a href="#" target="_blank" title="" rel="noopener">Facebook</a></li>
                            <li><a href="#" target="_blank" title="" rel="noopener">Twitter</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </footer>
    <!-- =======================  JavaScript  =========================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ base_url() }}/js/all.js"></script>
    <!-- Scrolling down to other parts of the page smoothly -->
    <script>let scroll = new SmoothScroll('a[href*="#"]', { speed: 600});</script>
    <!-- Google Analytics Please, don't copy this -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-55331708-1', 'auto');
        ga('send', 'pageview');
    </script>
    </body>
</html>
{% endblock %}